<div class="row">
  <div class="col-md-4">
    <app-user-panel></app-user-panel>
  </div>
  <div class="col-md-4">
    <app-equip-panel></app-equip-panel>
  </div>
  <div class="col-md-4">
    <app-cost></app-cost>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <app-power-grid style="width: 100%"></app-power-grid>
  </div>
  <div class="col-md-6">
    <app-energy></app-energy>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <ngx-pie></ngx-pie>
  </div>
  <div class="col-md-6">
    <ngx-area-simple></ngx-area-simple>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <ngx-scatter></ngx-scatter>
  </div>
  <div class="col-md-6">
    <ngx-radar></ngx-radar>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <ngx-parallel-aqi></ngx-parallel-aqi>
  </div>
  <div class="col-md-6">
    <ngx-gauge [target]='target1'></ngx-gauge>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <ngx-gauge [target]='target2'></ngx-gauge>
  </div>
  <div class="col-md-4">
    <ngx-bar-stack></ngx-bar-stack>
  </div>
  <div class="col-md-4">
    <ngx-scatter-exponential-regression></ngx-scatter-exponential-regression>
  </div>
</div>