<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">费用情况</div>
  <div class="panel-body">
    <div id="float_div_left">
      <p>###</p>
    </div>
    <div id="float_div_right">
      <p><span class="glyphicon glyphicon-yen" aria-hidden="true"></span></p>
    </div>
  </div>
  <hr />
  <div class="panel-body">
    <div id="float_div_left">
      <p>###</p>
    </div>
    <div id="float_div_right">
      <p><span class="glyphicon glyphicon-yen" aria-hidden="true"></span></p>
    </div>
  </div>
  <hr />
  <div class="panel-body">
    <div id="float_div_left">
      <p>###</p>
    </div>
    <div id="float_div_right">
      <p><span class="glyphicon glyphicon-yen" aria-hidden="true"></span></p>
    </div>
  </div>
</div>