<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">缴费充值</div>
  <div class="panel-body">
    <div id="float_div_left">
      <p>累计充值金额</p>
    </div>
    <div id="float_div_right">
      <p><span class="glyphicon glyphicon-yen" aria-hidden="true"></span></p>
    </div>
  </div>
  <hr style="margin: 0" />
  <div class="panel-body">
    <div id="float_div_left">
      <p>欠款金额</p>
    </div>
    <div id="float_div_right">
      <p><span class="glyphicon glyphicon-yen" aria-hidden="true"></span></p>
    </div>
  </div>
  <hr style="margin: 0" />
  <div class="panel-body">
    <div id="float_div_left">
      <p>欠款设备</p>
    </div>
    <div id="float_div_right">
      <p><span class="glyphicon glyphicon-yen" aria-hidden="true"></span></p>
    </div>
  </div>
</div>