<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">用户情况</div>
  <div class="panel-body">
    <div id="float_div_left">
      <p>用户总数</p>
    </div>
    <div id="float_div_right">
      <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span></p>
    </div>
  </div>
  <hr style="margin: 0" />
  <div class="panel-body">
    <div id="float_div_left">
      <p>当前在线用户数</p>
    </div>
    <div id="float_div_right">
      <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span></p>
    </div>
  </div>
  <hr style="margin: 0" />
  <div class="panel-body">
    <div id="float_div_left">
      <p>近一周用户增幅</p>
    </div>
    <div id="float_div_right">
      <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span></p>
    </div>
  </div>
</div>